
    <br />
    <h2>Customer Detail</h2><br />

<div ng-controller="customerDetailCtrl"> 
            <alert type="success" close="closeAlert()" ng-init="isCollapsed = true" ng-hide="isCollapsed"><strong>Success!</strong> Customer updated successfully.</alert>
       <div customer-select-list></div>      
    <br /><br />

    <div class="form-group">
    <label for="firstName">First Name</label>
    <input type="text" class="form-control" id="firstName" name="firstName" placeholder="First Name" ng-model="formData.FirstName"  />
</div>
     <div class="form-group">
    <label for="firstName">Last Name</label>
    <input type="text" class="form-control" id="lastName" name="lastName" placeholder="Last Name" ng-model="formData.LastName"  />
</div>
<div class="form-group">
    <label for="street1">Street1</label>
    <input type="text" class="form-control" id="street1" name="street1" placeholder="Street1"  ng-model="formData.Street1" />
  </div>
  <div class="form-group">
    <label for="street2">Street2</label>
    <input type="text" class="form-control" id="street2" name="street2" placeholder="Street2"  ng-model="formData.Street2" />
  </div>
  <div class="form-group">
    <label for="city">City</label>
    <input type="text" class="form-control" id="city" name="city" placeholder="City"  ng-model="formData.City" />
  </div>
  <div class="form-group">
    <label for="state">State</label>
    <input type="text" class="form-control" id="state" name="state" placeholder="State"  ng-model="formData.State"  maxlength="2"/>
  </div>
  <div class="form-group">
    <label for="zip">Zip</label>
    <input type="text" class="form-control" id="zip" name="zip" placeholder="Zip"  ng-model="formData.Zip" />
  </div>
    <div class="form-group">
    <label for="phone">Phone</label>
    <input type="text" class="form-control" id="phone" name="phone" placeholder="Phone"  ng-model="formData.Phone" />
  </div>
    <div class="form-group">
    <label for="email">Email</label>
    <input type="text" class="form-control" id="email" name="email" placeholder="Email"  ng-model="formData.Email" />
  </div>
    
   <input class="btn btn-primary" type="submit" value="Update"  confirm="Update This Customer?" ng-click="processForm()" />
  <a href="#" class="btn btn-primary" id="btnReset">Cancel</a>  
</form>
</div>  

